@model Madison.Internal.QM.Web.Models.DebtIncome

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DebtIncome</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.MonthlyIncome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MonthlyIncome)
            @Html.ValidationMessageFor(model => model.MonthlyIncome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedMonthlyPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedMonthlyPayment)
            @Html.ValidationMessageFor(model => model.ExpectedMonthlyPayment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequiresPMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequiresPMI)
            @Html.ValidationMessageFor(model => model.RequiresPMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpectedMonthlyPMI)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedMonthlyPMI)
            @Html.ValidationMessageFor(model => model.ExpectedMonthlyPMI)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdditionalLoansOnProperty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdditionalLoansOnProperty)
            @Html.ValidationMessageFor(model => model.AdditionalLoansOnProperty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
            @Html.ValidationMessageFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MonthlyDebtObligation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MonthlyDebtObligation)
            @Html.ValidationMessageFor(model => model.MonthlyDebtObligation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmploymentLengthId, "EmploymentLength")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentLengthId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentLengthId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmploymentStatusId, "EmploymentStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentStatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentStatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmploymentLengthAtPriorCompanyId, "EmploymentLengthAtPriorCompany")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentLengthAtPriorCompanyId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentLengthAtPriorCompanyId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
