@model Madison.Internal.QM.Web.Models.DebtIncome

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DebtIncome</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonthlyIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonthlyIncome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpectedMonthlyPayment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpectedMonthlyPayment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RequiresPMI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequiresPMI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpectedMonthlyPMI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpectedMonthlyPMI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdditionalLoansOnProperty)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdditionalLoansOnProperty)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonthlyDebtObligation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonthlyDebtObligation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmploymentLength.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmploymentLength.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmploymentStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmploymentStatus.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmploymentLengthAtPriorCompany.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmploymentLengthAtPriorCompany.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
