@model Madison.Internal.QM.Web.Models.DebtIncome

@{
    ViewBag.Title = "Debt To Income Evaluation";
}

<h2>Debt To Income Ratio Evaluation</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <p>
            Please complete the questions below for a quick initial evaluation of debt to income ratio . This is not a lender or underwriting approval. This is merely a data collection screen recommended for you prior to using Q-MAT.
        </p>
        <p>
            This screen is intended only as a self evaluation tool to determine, with your expertise, if we can proceed with the affiliate and title insurance evaluations. 
        </p>
        <p>
            Please complete the screen below fully and to the best degree possible for optimal results. 
        </p>
        <p>
            <i>*This data is not collected, stored, or guaranteed. This is a self evaluation tool.</i>
        </p>
        <br />
        <div class="editor-label" style="font-weight: bold">Income Assumptions</div><br />
        <div class="editor-label">
            What is the borrowers expected monthly income?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MonthlyIncome)
            @Html.ValidationMessageFor(model => model.MonthlyIncome)
        </div>
        <br />
        <div class="editor-label" style="font-weight: bold">Employment Status Assumptions</div><br />
        <div class="editor-label">
            What is the borrower’s current employment status?
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentStatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentStatusId)
        </div>
        <div class="editor-label">
            How long has the borrower been employed with their current company?
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentLengthId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentLengthId)
        </div>
        <div class="editor-label">
            How long was the borrower employed with their prior company?
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmploymentLengthAtPriorCompanyId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmploymentLengthAtPriorCompanyId)
        </div>
        <br />
        <div class="editor-label" style="font-weight: bold">Expected Monthly Payment</div><br />
        <div class="editor-label">
            What is the Expected monthly payment required for this loan?
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpectedMonthlyPayment)
            @Html.ValidationMessageFor(model => model.ExpectedMonthlyPayment)
        </div>

        <div class="editor-label">
            Loan Requires PMI&nbsp;&nbsp;@Html.CheckBoxFor(model => model.RequiresPMI, new { id = "pmiCheckBox" })
        </div>
        <br />
        <div id="monthlyPMI">
            <div class="editor-label">
                What is the monthly PMI payment requirement?
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ExpectedMonthlyPMI)
                @Html.ValidationMessageFor(model => model.ExpectedMonthlyPMI)
            </div>
        </div>
        <br />
        <div class="editor-label" style="font-weight: bold">Additional Loan Payments</div><br />
        <div class="editor-label">
            There are additional loans on the property&nbsp;&nbsp;@Html.CheckBoxFor(model => model.AdditionalLoansOnProperty, new { id = "additionalLoansCheckBox" })
        </div>
        <br />
        <div id="additionalLoans">
            <div class="editor-label">
                What is the total monthly obligation of those loans?
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
                @Html.ValidationMessageFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
            </div>
        </div>
        <br />
        <div class="editor-label" style="font-weight: bold">Existing debt obligations</div><br />
        <div class="editor-label">
            Enter total amount per month of the borrowers other monthly debt obligations. (Remember to include child support and alimony.)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MonthlyDebtObligation)
            @Html.ValidationMessageFor(model => model.MonthlyDebtObligation)
        </div>
        <p>
            <input type="button" value="Submit" class="btn btn-large btn-success" id="debtToIncomeButton"/>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">
        $(document).ready(function () {
            setFormControlVisibility();
            setFormEventHandlers();

            $('#debtToIncomeButton').click(function () {
                $('form').submit()
            });
        });

        function setFormControlVisibility() {
            $('#monthlyPMI').hide();
            $('#additionalLoans').hide();
        }

        function setFormEventHandlers() {
            
            $("#pmiCheckBox").click(function () {
                setMonthlyPMIVisibility();
            });

            $('#additionalLoansCheckBox').click(function () {
                setAdditionalLoansVisibility();
            });
        }

        function setMonthlyPMIVisibility() {
            
            if ($("#pmiCheckBox").is(':checked')) {
                
                $('#monthlyPMI').show();
            }
            else {
                
                $('#monthlyPMI').hide();
            }
            
        }

        function setAdditionalLoansVisibility() {
            if ($('#additionalLoansCheckBox').is(':checked')) {
                $('#additionalLoans').show();
            }
            else {
                $('#additionalLoans').hide();
            }

            
        }
    </script>
}
