@model IEnumerable<Madison.Internal.QM.Web.Models.DebtIncome>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedMonthlyPayment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiresPMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedMonthlyPMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalLoansOnProperty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMontlyPaymentOfAdditionalLoans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyDebtObligation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmploymentLength.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmploymentStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmploymentLengthAtPriorCompany.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedMonthlyPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiresPMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedMonthlyPMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalLoansOnProperty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMontlyPaymentOfAdditionalLoans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyDebtObligation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmploymentLength.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmploymentStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmploymentLengthAtPriorCompany.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
