@model Madison.Internal.QM.Web.ViewModels.CapCalculationResultViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="lead">Affiliated Fees Calculation Result</legend>

        <div>
            Cap:&nbsp;&nbsp;<b>@string.Format("${0:N2}", Model.CapCalculationResult.CapAmount)</b>
        </div>
        <div>
            
            Amount Remaining:&nbsp;&nbsp;@string.Format("${0:N2}", Model.CapCalculationResult.AmountRemainingUnderCap);
        </div>
        <br /><br />

        @foreach (var result in Model.CapCalculationResult.CapCalculationResultInitial.Summary)
        {
            <p>@result</p>
        }
        
            @if (Model.CapCalculationResult.UnderCap)
            {
                <p>
                    Result:&nbsp;&nbsp;&nbsp;<b>PASS</b> prior to title premium cap calculation.
                </p>
                <p>
                    We have identified so far that your cap allowance has @string.Format("${0:N2}", Model.CapCalculationResult.AmountRemainingUnderCap) remaining. Please enter as much data as possible for us to calculate the best title insurance premium result for you to send to your affiliate if caps can be maintained.
                </p>
                <p>
                    <input type="submit" id="btnNext" value="Continue" class="btn btn-large btn-success" />
                </p>
            }
            else
            {
                <p>
                    Result:&nbsp;&nbsp;&nbsp;<b>FAIL</b> prior to title premium cap calculation
                </p>
                <p>
                    @Html.ActionLink("Send To Backup", "Index", "Account", null, new { @class="btn btn-large btn-success" })
                    
                </p>    
            }
    </fieldset>
}  
