@model Madison.Internal.QM.Web.ViewModels.AffiliateFeesViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="lead">Affiliated Fees</legend>
        <div>
            Is title affiliated?  If Yes, What is the total of their settlement fees?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.TotalSettlementFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.TotalSettlementFee)
        </div>
        <div>
            Total Third Party Origination Fee.
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.MortageOriginatorCompensationAmount)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.MortageOriginatorCompensationAmount)
        </div>
        <div>
            Total Lender Fees
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.LenderFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.LenderFee)
        </div>
        <div>
            If PMI applies, please enter amount.
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.PMI)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.PMI)
        </div>
        <div>
            Is appraisal affiliated?  If yes, what is the appraisal fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.AppraisalFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.AppraisalFee)
        </div>
        <div>
            Is Credit affiliated?  If yes, what is the credit fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.CreditFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.CreditFee)
        </div>
        <div>
            Is Survey Affiliated?  If yes, what is the survey fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.SurveyFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.SurveyFee)
        </div>
        <div>
            Is notary affiliated?  If yes, what is the notary fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.NotaryFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.NotaryFee)
        </div>
        <div>
            Is Inspection Affiliated?  If yes, what is the inspection fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.InspectionFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.InspectionFee)
        </div>
        <div>
            Is Escrow Affiliated?  If yes, what is the escrow fee?
        </div>
        <div>
            @Html.EditorFor(model => model.AffiliatedFee.EscrowFee)
            @Html.ValidationMessageFor(model => model.AffiliatedFee.EscrowFee)
        </div>
        <p>
            <input type="submit" id="btnNext" value="Next" class="btn btn-large btn-success" />
        </p>
    </fieldset>
}  
