@model Madison.Internal.QM.Web.ViewModels.AssessmentCompleteViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="jumbotron" style="width: 860px;">
        <h1 style="text-align: left">Assessment</h1>
        <h1 style="text-align: left">Complete</h1>
        <br /><br />
        <p class="lead", style="text-align: left;">@Model.Message</p>

        <br />
        <div style="text-align: left;">
        @if (1 == 2 && (Model.Passed || Model.Scenario1 || Model.Scenario2 || Model.Scenario1))
        {
            @Html.ActionLink("Email Report", "Index", "Account", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })
            @Html.ActionLink("Print Report", "Index", "Account", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })
            @Html.ActionLink("View Report", "QMATReport", "Report", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })    
        }
        else
        {
            if (Model.Scenario4 || 1 == 1)
            {
                @Html.ActionLink("Send to Approved", "Index", "Account", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success" })
                @Html.ActionLink("Email To 3rd Party", "Index", "Account", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })    
                @Html.ActionLink("Print Report", "Index", "Account", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })
                @Html.ActionLink("View Report", "QMATReport", "Report", new { transactionId = Model.Transaction.Id }, new { @class="btn btn-large btn-success", @style="margin-left: 10px;" })    
            }
        }
            </div>
    </div>
}  
