@model Madison.Internal.QM.Web.ViewModels.BorrowerViewModel

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="lead">Property Info</legend>


        <div class="row-fluid marketing" style="margin-bottom: 0px;">
                <div class="span6">
                    <div>
                        @Html.LabelFor(model => model.Borrower.FirstName, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Borrower.FirstName)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Borrower.FirstName)
                    </div>
            
                    <div>
                        @Html.LabelFor(model => model.Borrower.LastName, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Borrower.LastName)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Borrower.LastName)
                    </div>

                    <div>
                        @Html.LabelFor(model => model.Property.PropertyType)
                    </div>
                    <div>
                        @Html.DropDownListFor(model => model.Property.PropertyType.Id, new SelectList(Model.PropertyTypes, "Id", "Name"))
                    </div>
                </div>
        </div>
        <div class="row-fluid marketing" style="margin-top: 0px; margin-bottom: 0px;">
                <div class="span6">
                    <div>
                        @Html.LabelFor(model => model.Property.Address1, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Property.Address1)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Property.Address1)
                        
                    </div>

                    <div>
                        @Html.LabelFor(model => model.Property.Address2)
                    </div>
                    <div>
                        
                        @Html.EditorFor(model => model.Property.Address2)
                        @Html.ValidationMessageFor(model => model.Property.Address2)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Property.County, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Property.County)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Property.County)
                    </div>
                </div>
                <div class="span6" style="margin-top: 0px; margin-bottom: 0px;">
                        <div>
                            
                                @Html.LabelFor(model => model.Property.City, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Property.City)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Property.City)
                            
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Property.State, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Property.State)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Property.State)
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Property.Zip, new { style="width: 50px; display: inline;" })&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Property.Zip)
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Property.Zip)
                        </div>
                </div>
            </div>
            <p>
                <input id="btnNext" type="submit" value="Next" class="btn btn-large btn-success" />
            </p>
    </fieldset>
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")   *@
}    

